body {
    background-color: slateblue;
}

.menuButton {
    border: 2px solid black;
    background-color: azure;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px;
}